<?php
defined ('_VALID_MOS') or
    die('Direct Access to this location is not allowed');
?><div id="fb-root"></div>
<script src="http://connect.facebook.net/<?php echo $this->locale;?>/all.js#xfbml=1<?php 
    if(strlen($this->appId)>0) {echo "&appId=".$this->appId;}
?>"></script>
<fb:send layout="<?php echo $this->fbLayout;
    ?>" width="<?php echo $this->width;?>" <?php 
     if(isset($this->colorScheme) && $this->colorScheme!='light'){ echo ' colorscheme="'.$this->colorScheme.'"';} 
     if(isset($this->url)){ echo ' href="'.$this->url.'"';} 
     ?> ></fb:send>