<?php
defined ('_VALID_MOS') or
    die('Direct Access to this location is not allowed');
?><div id="fb-root"></div>
<script src="http://connect.facebook.net/<?php echo $this->locale;?>/all.js#xfbml=1"></script>
<fb:comments href="<?php echo $this->fbUrl;?>" num_posts="<?php echo $this->numPosts;
    ?>" width="<?php echo $this->width;?>" <?php 
     if(isset($this->colorscheme) && $this->colorScheme!='light'){ echo 'colorscheme="'.$this->colorscheme.'"';}
     ?> ></fb:comments>